body{
    font-family:Arial, Helvetica, sans-serif;
}

#News{
    background-color: white;
    border-radius: 5px;
}
#News:hover{
    background-color: lightgray;

}
#Category{
    color:blue;
    text-transform: uppercase;
}
#Title{
}
#Image{

}
#Date{
    color: gray;
    margin-top: 0;
    font-size: 14px;
}
#Desc{
    font-size: 18px;
}
.Btn{
    background-color:#0000e8;
    color: white;
    border-radius: 5px;
    padding: 6px;
}
#BtnSection{
    float: right;
}