body{
    font-family:Arial, Helvetica, sans-serif;
}

#Newsrow{
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#Newsrow:hover{
    background-color: lightgray;

}
#Category{
    color:blue;
    text-transform: uppercase;
}
#Title{
}
#Image{
    width: 100%;
    height: 75%;
}
#Date{
    color: gray;
    margin-top: 0;
    font-size: 14px;
}
#Desc{
    font-size: 18px;
}
.Btn{
    background-color:#0000e8;
    color: white;
    border-radius: 5px;
    padding: 6px;
}
#BtnSection{
    float: right;
}
#actionTitle{
    margin-top: 10px;
}